<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupname</key>
		<string>初中同学</string>
		<key>list</key>
		<array>
			<dict>
				<key>name</key>
				<string>初中同学1</string>
				<key>isonline</key>
				<true/>
				<key>imagename</key>
				<string>head01</string>
			</dict>
			<dict>
				<key>name</key>
				<string>初中同学2</string>
				<key>isonline</key>
				<true/>
				<key>imagename</key>
				<string>head02</string>
			</dict>
			<dict>
				<key>name</key>
				<string>初中同学3</string>
				<key>isonline</key>
				<false/>
				<key>imagename</key>
				<string>head03</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupname</key>
		<string>高中同学</string>
		<key>list</key>
		<array>
			<dict>
				<key>name</key>
				<string>高中同学1</string>
				<key>isonline</key>
				<true/>
				<key>imagename</key>
				<string>head08</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高中同学2</string>
				<key>isonline</key>
				<true/>
				<key>imagename</key>
				<string>head05</string>
			</dict>
			<dict>
				<key>name</key>
				<string>初中同学3</string>
				<key>isonline</key>
				<false/>
				<key>imagename</key>
				<string>head07</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupname</key>
		<string>大学同学</string>
		<key>list</key>
		<array>
			<dict>
				<key>name</key>
				<string>大学同学1</string>
				<key>isonline</key>
				<true/>
				<key>imagename</key>
				<string>head04</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大学同学2</string>
				<key>isonline</key>
				<false/>
				<key>imagename</key>
				<string>head07</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
